@import url("https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&family=Josefin+Sans:ital,wght@1,200&family=Roboto+Condensed:wght@300&display=swap");
#background {
  background-color: url(../assets/background/ameer-basheer-Xrx3WWyrwes-unsplash.jpg);
}

footer {
  background-color: rgba(0, 0, 255, 0.395);
  color: #fff;
}

.contenedor_navbar img {
  width: 40px;
}
.contenedor_navbar div ul li a {
  color: #fff;
}

.boton:hover, .boton3:hover, .boton2:hover {
  background-color: rgba(0, 0, 255, 0.642);
}

.boton2:hover {
  background-color: rgba(0, 0, 255, 0.642);
}

.boton3:hover {
  background-color: rgba(0, 0, 255, 0.642);
}

/* MAPS*/
.navbar-brand span {
  color: blue;
}

.primerPaso__titulo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  text-shadow: blue 5px 1px 4px;
  text-align: center;
  margin-top: 40px;
}

/*MIXIN */
.primerPaso__imagen {
  width: 400px;
  border-radius: 20px;
  border: 10px;
}

/*EXTEND*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#background {
  background-size: cover;
  background-image: url(../assets/background/ameer-basheer-Xrx3WWyrwes-unsplash.jpg);
  width: 100%;
}

/* menu */
#logo {
  display: flex;
  justify-content: center;
}

.encabezado__logo {
  margin: 10px;
}

.encabezado__nombre span {
  color: blue;
}

.encabezado__nombre {
  text-align: center;
  justify-content: center;
  color: #fff;
  margin-top: 30px;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.menu {
  background-color: blue;
  top: 20px;
  right: 80px;
}

.menu__lista {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__links {
  display: inline-block;
}

.link {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px 90px;
}

.navbar-brand span {
  color: blue;
}

.navbar-brand {
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 40px;
  margin-left: 10px;
}

.barra_navegacion {
  background-color: rgba(0, 0, 0, 0.562);
}

.menu__links a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px 92px;
}

.menu__links a:hover {
  background-color: rgb(0, 72, 255);
}

.barra_navegacion {
  background-color: blue;
  color: #fff;
  text-align: center;
}

/*boostrap menu*/
.footer2 {
  padding: 20px;
}

.footer2 a {
  text-decoration: none;
  color: #fff;
}

.footer2 a:hover {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.203);
  padding: 5px;
}

.footer2 a:active {
  background-color: rgba(0, 0, 0, 0.546);
}

.navbar-nav {
  margin-left: 20%;
}

.navbar {
  background-color: rgba(0, 0, 255, 0.395);
  color: #fff;
}

.nav-link {
  background-color: rgba(0, 0, 0, 0.568);
  color: #fff;
}

.nav-link:hover {
  background-color: blue;
}

.navbar-brand {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
}

/*index*/
.contenedor {
  width: 100%;
  height: 100%;
  margin: 15px 15px 80px 15px;
  display: flex;
  border-color: bisque;
  border-width: 5px;
}

/*index---primer paso*/
.primerPaso__imagen {
  width: 400px;
  margin: 10px;
  padding: 5px;
  border: 10px;
  border-radius: 10px;
  margin-top: 30px;
}

.primerPaso__titulo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  text-shadow: blue 5px 1px 4px;
  text-align: center;
  margin-top: 40px;
}

.imagen__texto {
  display: flex;
  align-items: center;
  text-align: center;
  justify-items: center;
  justify-content: center;
  margin: 40px;
}

.textos {
  flex-direction: column;
  margin-left: 10px;
  padding-left: 10px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  list-style-position: inside;
  margin-top: 10px;
}

.primerPaso__titulo2 {
  margin: 10px;
  margin-top: 20px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

.boton, .boton2, .boton3 {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: blue;
  color: #fff;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #fff;
  text-transform: uppercase;
  border: none;
  width: auto;
  justify-items: center;
  align-items: center;
}

.boton:hover, .boton2:hover, .boton3:hover {
  background-color: rgba(0, 0, 255, 0.642);
}

/*segundo paso*/
.segundoPaso {
  width: 100%;
  height: 100%;
}

.imagen__texto2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.segundoPaso__imagen {
  width: 400px;
  margin: 10px;
  padding: 5px;
  border: 10px;
  border-radius: 10px;
  margin-top: 30px;
}

.textos2 {
  flex-direction: column;
  margin-right: 10px;
  padding-right: 10px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  list-style-position: inside;
  margin-top: 15px;
}

.segundoPaso__titulo {
  margin: 10px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  margin-top: 30px;
}

.boton2 {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: blue;
  color: #fff;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #fff;
  text-transform: uppercase;
  border: none;
  width: auto;
  justify-content: center;
}

.boton2:hover {
  background-color: rgba(0, 0, 255, 0.642);
}

/* Tercer Paso */
.tercerPaso {
  width: 100%;
  height: 100%;
}

.tercerPaso__imagen {
  width: 400px;
  margin: 10px;
  padding: 5px;
  border: 10px;
  border-radius: 10px;
  margin-top: 30px;
}

.imagen__texto3 {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 30px;
}

.tercerPaso__Textos {
  flex-direction: column;
  font-size: 20px;
  color: #fff;
  text-align: center;
  list-style-position: inside;
}

.tercerPaso__titulo {
  margin: 10px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

.boton3 {
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: blue;
  color: #fff;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #fff;
  text-transform: uppercase;
  border: none;
  width: auto;
  justify-content: center;
}

.boton3:hover {
  background-color: rgba(0, 0, 255, 0.642);
}

/*footer*/
footer {
  background-color: rgba(0, 0, 255, 0.416);
  color: #fff;
  max-width: 100%;
  max-height: 100%;
}

.pie-de-pagina {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.email {
  grid-column: 2/3;
  grid-row: 2/3;
}

.numero {
  grid-column: 2/3;
  grid-row: 1/2;
}

.instagram {
  grid-column: 3/4;
  grid-row: 2/3;
  text-decoration: none;
  padding: 10px;
}

.instagram1 {
  text-decoration: none;
  color: #fff;
}

.whatsapp1 {
  text-decoration: none;
  color: #fff;
}

.whatsapp {
  padding: 10px;
  grid-column: 3/4;
  grid-row: 3/4;
  text-decoration: none;
}

.redes {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  grid-column: 3/4;
  grid-row: 1/2;
}

/*formulario*/
.formulario__titulo {
  text-align: center;
  color: brown;
  font-size: 30px;
}

.formulario-contacto form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

.formulario-contacto form .bloque {
  grid-column: 1/3;
}

.formulario-contacto h2 {
  font-size: 30px;
  color: #fff;
}

.formulario-contacto p {
  margin: 0;
  padding: 1em;
}

.nombre-empresa {
  text-align: center;
  color: #fff;
  margin: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nombre-empresa span {
  color: blue;
}

.contenedor-contacto {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.486);
  margin: 20px;
}

.contenedor-contacto > * {
  padding: 1rem;
}

.formulario-contacto form button,
.formulario-contacto form input,
.formulario-contacto form textarea {
  width: 100%;
  padding: 0.7rem;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid blue;
  color: #fff;
}

.formulario-contacto form button {
  background-color: blue;
  border: 0;
  text-transform: uppercase;
  padding: 1rem;
}

/* nosotros */
.primercontenedor {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px auto;
}

.primercontenedor__titulo {
  color: #fff;
  text-transform: uppercase;
  font-size: 25px;
}

.primercontenedor__titulo span {
  color: blue;
}

.primercontenedor__parrafo {
  color: #fff;
}

.segundocontenedor {
  text-align: center;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px auto;
}

.segundocontenedor__mapa {
  margin: 10px;
  border-style: groove;
  border: 2px black solid;
}

.tercercontenedor {
  text-align: center;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
}

.tercercontenedor img {
  border-radius: 10px;
  margin: 10px;
}

.cuartocontenedor__titulo {
  color: #fff;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
  text-transform: uppercase;
}

.imagenes {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.cuartocontenedor__imagenes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  justify-items: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.731);
  padding: 10px;
}

/*servicioss*/
.video {
  width: 500px;
  height: 300px;
}

.servicios {
  text-align: center;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.titulo_servicios {
  padding: 20px;
  font-size: 40px;
  text-shadow: blue 5px 1px 4px;
}

.subtitulo_servicios {
  padding: 20px;
  margin: 20px;
}

.servicios__imagen {
  margin: 20px;
  width: 400px;
}

.servicios__items {
  list-style-position: inside;
  margin-top: 90px;
  margin-left: 80px;
}

.contenedor-higlights {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1;
  gap: 10px;
}

.higlights {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  color: black;
  border-radius: 10px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.568), rgb(255, 255, 255));
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  cursor: pointer;
  border: 1px solid #fff;
  border-bottom: 10px solid rgb(40, 40, 250);
}

.higlights:hover {
  transform: translateY(-20px);
}

.img_higlights {
  width: 45px;
  height: 45px;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 50%;
}

.flecha_higlights {
  width: 45px;
  height: 45px;
  padding: 10px;
}

.titulo_higlights {
  padding: 10px;
  color: blue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}

.subtitulo_higlights {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.higlights:hover {
  transform: translate(20px 20px);
}

.titulo_card {
  color: #fff;
}

.card {
  background-color: rgba(0, 0, 0, 0.452);
}

/* referencia */
.video__referencia {
  text-align: center;
  color: #fff;
  margin: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.video__titulo {
  margin: 10px;
  font-size: 30px;
}

.grid_contenedor {
  background-color: rgba(0, 0, 0, 0.514);
  margin: 10px;
  padding: 10px;
}

/*pages referencias*/
.referencias__encabezado {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contenedor__referencias__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1;
  gap: 10px;
  margin: 20px;
  padding: 10px;
}

.referencia__redes {
  color: rgb(0, 0, 0);
  text-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.265);
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  border-bottom: 20px solid rgba(0, 0, 0, 0.422);
  border: 2px dashed rgb(255, 255, 255);
  cursor: pointer;
}

.imagen__referencia {
  width: 50px;
  height: 50px;
  border: 2px solid rgb(81, 81, 249);
  border-radius: 60%;
  padding: 5px;
}

.referencia__redes:hover {
  transform: translateY(-20px);
}

.referencia__parrafo {
  margin: 10px;
}

.titulo__encabezado {
  margin: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}

.parrafo__encabezado {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.titulo__galeria {
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.contenedor__galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;
  margin: 20px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.623);
}

.titulo__galeria {
  text-align: center;
  margin: 20px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.493), rgba(255, 255, 255, 0.237));
  padding: 10px;
  color: black;
}

.imagenes__galeria {
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  margin: 20px;
  animation-name: imagen_galeria;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}

/* media */
@media only screen and (max-width: 576px) {
  /* generales */
  .encabezado {
    flex-direction: column;
  }
  .menu__links a {
    padding: 10px 22px;
  }
  /*index*/
  .contenedor {
    max-width: 100%;
    max-height: 100%;
  }
  .primerPaso {
    max-width: 100%;
  }
  .primerPaso__titulo {
    font-size: 25px;
    margin-left: 0;
    justify-items: center;
    align-items: center;
  }
  .imagen__texto {
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .textos {
    margin-left: 20px;
    justify-items: center;
    align-items: center;
  }
  .boton, .boton2, .boton3 {
    justify-content: center;
    justify-items: center;
    padding: 5px;
    text-align: center;
    width: auto;
  }
  .imagen__texto2 {
    flex-direction: column;
  }
  .textos2 {
    margin-left: 10px;
  }
  .boton2 {
    width: auto;
    justify-content: center;
  }
  .imagen__texto3 {
    flex-direction: column;
  }
  .boton3 {
    width: auto;
    justify-content: center;
  }
  /*servivios*/
  .video {
    width: auto;
  }
  .servicios {
    flex-direction: column-reverse;
  }
  .servicios__items {
    margin-right: 15%;
  }
  .servicios__titulo {
    text-transform: uppercase;
    font-size: 25px;
  }
  .contenedor-higlights {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    margin: 10px;
  }
  /* Nosotros */
  .segundocontenedor__mapa {
    width: auto;
    height: auto;
  }
  .cuartocontenedor__imagenes {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  /*Referencias*/
  .contenedor__galeria {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    justify-items: center;
  }
  .contenedor__referencias__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 50px;
    row-gap: 50px;
  }
}
/*operadoeres matematicos*/

/*# sourceMappingURL=style.css.map */
