$fondo-boton:blue;
$footernav: rgba(0, 0, 255, 0.395);
$background-imagen: url(../assets/background/ameer-basheer-Xrx3WWyrwes-unsplash.jpg);
$color-letra: #fff;
$tamaño-icono: 40px;
$tamaño-imagen: 400px;
$boton-hover: rgba(0, 0, 255, 0.642);